<%= form_for([@event, event_task]) do |form| %>

    <div class="field">
    <%= form.label "Event Task" %>
    <%= form.radio_button :name, 'Pick-up at home' %> Pick-up at home<br />
    <%= form.radio_button :name, 'Drop-off at event' %> Drop-off at event<br />
    <%= form.radio_button :name, 'Pick-up at event' %> Pick-up at event<br />
    <%= form.radio_button :name, 'Drop-off at home' %> Drop-off at home<br />
  </div>

  <div class="field">                                                 
    <%= form.label :child_id %>
    <%= form.collection_select :child_id, Child.all, :id, :full_name, include_blank: true %>
  </div>

  <div class="field">   
    <%= form.label :caregiver_id %>
    <%= form.collection_select :caregiver_id, Caregiver.all, :id, :full_name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label "Date and Time" %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field"> 
    <%= form.label "Address" %>
    <%= form.collection_select :address_id, Address.all, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.radio_button :priority, 'High' %> High<br />
    <%= form.radio_button :priority, 'Medium' %> Medium<br />
    <%= form.radio_button :priority, 'Low' %> Low<br />
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select([['Not Assigned'], ['Assigned'], 
                                                            ['Cancelled'], ['Completed']]) %>
  </div>

  <div class="field"> 
    <%= form.label :event_id %>
    <%= form.collection_select :event_id, Event.all, :id, :name, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
