<p id="notice"><%= notice %></p>
<br>
<br>

<div class="card" style="width: 38rem;">
  <div class="card shadow p-3 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">Event Task</h5>
    <p class="card-text"></p>

<p>
  <strong>Event:</strong>
  <%= @event_task.event.name %>
</p>

<p>
  <strong>Event Date and Time:</strong>
  <%= @event_task.event.start_time.strftime("%d %b (%a) %l:%M%p") %>
</p>

<p>
  <strong>Event Address:</strong>
  <%= @event_task.event.address.name %>
</p>

<p>
  <strong>Child:</strong>
  <%= @event_task.child.full_name %>
</p>

<p>
  <strong>Caregiver:</strong>
  <%= @event_task.caregiver.full_name %>
</p>

<p>
  <strong>Event Task:</strong>
  <%= @event_task.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event_task.start_time.strftime("%d %b (%a)") %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event_task.start_time.strftime("%l:%M%p") %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event_task.address.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @event_task.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event_task.status %>
</p>


<%= link_to 'Edit', edit_event_task_path(@event_task), class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'All Event Tasks', event_tasks_path, class: "btn btn-outline-secondary btn-sm" %>
