<p id="notice"><%= notice %></p>
<br>
<br>

<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @child.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @child.address.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @child.phone %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'New Child', new_child_path %> |
<%= link_to 'Back to all children', children_path %>
