<p id="notice"><%= notice %></p>
<br>
<br>

<%= month_calendar(events: @events) do |date, events| %>
  
  <%= date.day %>
  
  <% events.each do |event| %>
    <div>
      <p><strong><%= link_to event.name, event_path(event) %></strong></p>
      <p><strong><%= link_to event.child.full_name, child_path(event.child) %></strong></p>
      <p><strong><%= event.start_time.strftime("%l:%M%p") %></strong> - 
         <strong><%= event.end_time.strftime("%l:%M%p")  %></strong></p>
    </div>
  <% end %>
<% end %>

<%= form_with event: @event, local: true do |f| %>
  <%= f.date_field :date, id:"date" %>
<% end %>

<br>

<h1>Events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to "Event", :sort => "event.name"%> </th>
      <th><%= link_to "Start date", :sort => "event.start_time"%> </th>
      <th><%= link_to "Start time", :sort => "event.start_time"%> </th>
      <th><%= link_to "End date", :sort => "event.end_time"%> </th>
      <th><%= link_to "End time", :sort => "event.end_time"%> </th>
      <th><%= link_to "Address", :sort => "address.name"%> </th>
      <th><%= link_to "Child", :sort => "child.full_name"%> </th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_time.strftime("%d %b (%a)") %></td>
        <td><%= event.start_time.strftime("%l:%M%p") %></td>
        <td><%= event.end_time.strftime("%d %b (%a)") %></td>
        <td><%= event.end_time.strftime("%l:%M%p") %></td>
        <td><%= event.address.name %></td>
        <td><%= event.child.full_name %></td>
        <td><%= link_to 'Show', event, class: "btn btn-outline-secondary btn-sm btn-block" %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-outline-secondary btn-sm btn-block" %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: "btn btn-outline-primary btn-sm"  %>
<%= link_to 'Children', children_path, class: "btn btn-outline-secondary btn-sm"  %>
<%= link_to 'Caregivers', caregivers_path, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to 'Addresses', addresses_path, class: "btn btn-outline-secondary btn-sm" %>
