<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<h1>Event</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Start Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Date</th>
      <th scope="col">End Time</th>
      <th scope="col">Event Address</th>
      <th scope="col">Child</th>
      <th scope="col">Contact Phone</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @event.name %></td>
        <td><%= @event.start_time.strftime("%d %b (%a)") %></td>
        <td><%= @event.start_time.strftime("%l:%M%p") %></td>
        <td><%= @event.end_time.strftime("%d %b (%a)") %></td>
        <td><%= @event.end_time.strftime("%l:%M%p") %></td>
        <td><%= @event.address.name %></td>
        <td><%= @event.child.full_name %></td>
        <td><%= @event.child.phone %></td>
        <td><%= link_to 'Edit', edit_event_path(@event), class: "btn btn-outline-secondary btn-sm btn-block" %></td>
        <td><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm btn-block" %></td>
      </tr>
  </tbody>
</table>

<div id="event-tasks">

  <% if @event.event_tasks.any? %>
    <h1>Event tasks</h1>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Address</th>
      <th scope="col">Child</th>
      <th scope="col">Caregiver</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
      <tbody>
        <%= render @event.event_tasks %>
      </tbody>
    </table>
<% end %>
</div>

<h2>Add an Event Task</h2>
  
  <%= render partial: "event_tasks/form", locals: {event_task: @event.event_tasks.new } %>

<br>
<br>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'New Event', new_event_path, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to 'All Events', events_path, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to 'Children', children_path, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to 'Caregivers', caregivers_path, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to 'Addresses', addresses_path, class: "btn btn-outline-secondary btn-sm" %>
