<%= form_with(model: caregiver) do |form| %>
  <% if caregiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caregiver.errors.count, "error") %> prohibited this caregiver from being saved:</h2>

      <ul>
        <% caregiver.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :first_name %></strong>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <strong><%= form.label :last_name %></strong>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <strong><%= form.label :address_id %></strong>
    <%= form.collection_select :address_id, Address.all, :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <strong><%= form.label :phone %></strong>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <strong><%= form.label :email %></strong>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
