<p id="notice"><%= notice %></p>
<br>
<br>
<h1>List of Addresses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.name %></td>
        <td><%= link_to ' Show ', address, class: "btn btn-outline-secondary btn-sm btn-block" %></td>
        <td><%= link_to ' Edit ', edit_address_path(address), class: "btn btn-outline-secondary btn-sm btn-block" %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path, class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'Children', children_path, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to 'Caregivers', caregivers_path, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to 'Events', events_path, class: "btn btn-outline-secondary btn-sm" %>
